In [1]:
import seaborn as sns
df=sns.load_dataset('iris')

In [2]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.shape

(150, 5)

In [4]:
df.corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000

In [5]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [6]:
len(ages)

32

In [9]:

import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [10]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [11]:
age_sample

array([55, 24, 28, 18, 40, 35, 16, 16, 21, 35])

In [12]:
from scipy.stats import ttest_1samp

In [13]:
ttest,p_value=ttest_1samp(age_sample,30)

In [19]:
print(p_value)

0.7692480771205132

In [20]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

In [18]:
ttest

-0.30236091330752796