In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data=pd.read_csv(r"C:\Users\HP\Desktop\kyphosis.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
Kyphosis    81 non-null object
Age         81 non-null int64
Number      81 non-null int64
Start       81 non-null int64
dtypes: int64(3), object(1)
memory usage: 2.6+ KB

In [5]:
data.describe()

              Age     Number      Start
count   81.000000  81.000000  81.000000
mean    83.654321   4.049383  11.493827
std     58.104251   1.619423   4.883962
min      1.000000   2.000000   1.000000
25%     26.000000   3.000000   9.000000
50%     87.000000   4.000000  13.000000
75%    130.000000   5.000000  16.000000
max    206.000000  10.000000  18.000000

In [6]:
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [7]:
data.columns

Index(['Kyphosis', 'Age', 'Number', 'Start'], dtype='object')

In [8]:
X=data.iloc[:,1:4]

In [9]:
X[:2]

   Age  Number  Start
0   71       3      5
1  158       3     14

In [10]:
Y=data.Kyphosis

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=50)

In [12]:
X.shape

(81, 3)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)

In [14]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [15]:
knn.score(X_train,Y_train)

0.890625

In [16]:
knn.score(X_test,Y_test)

0.7647058823529411

In [17]:
predict=knn.predict(X_test)

In [18]:
new=np.array([[127,3,4]])

In [19]:
predict2=knn.predict(new)

In [20]:
data['Kyphosis'][predict2]

present    NaN
Name: Kyphosis, dtype: object

In [21]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(Y_test,predict))

[[13  3]
 [ 1  0]]

In [22]:
print(classification_report(Y_test,predict))

              precision    recall  f1-score   support

      absent       0.93      0.81      0.87        16
     present       0.00      0.00      0.00         1

   micro avg       0.76      0.76      0.76        17
   macro avg       0.46      0.41      0.43        17
weighted avg       0.87      0.76      0.82        17