In [1]:
import numpy as np
import pandas as pd

In [6]:
data=pd.read_csv(r"C:\Users\HP\Downloads\liver_dataset (4).csv")

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 7 columns):
mcv        345 non-null int64
alkphos    345 non-null int64
sgpt       345 non-null int64
sgot       345 non-null int64
gammagt    345 non-null int64
drink      345 non-null float64
target     345 non-null int64
dtypes: float64(1), int64(6)
memory usage: 18.9 KB

In [8]:
data.describe()

,mcv,alkphos,sgpt,sgot,gammagt,drink,target
count,345.000000,345.000000,345.000000,345.000000,345.000000,345.000000,345.000000
mean,90.159420,69.869565,30.405797,24.643478,38.284058,3.455072,1.579710
std,4.448096,18.347670,19.512309,10.064494,39.254616,3.337835,0.494322
min,65.000000,23.000000,4.000000,5.000000,5.000000,0.000000,1.000000
25%,87.000000,57.000000,19.000000,19.000000,15.000000,0.500000,1.000000
50%,90.000000,67.000000,26.000000,23.000000,25.000000,3.000000,2.000000
75%,93.000000,80.000000,34.000000,27.000000,46.000000,6.000000,2.000000
max,103.000000,138.000000,155.000000,82.000000,297.000000,20.000000,2.000000

In [9]:
data.head()

   mcv  alkphos  sgpt  sgot  gammagt  drink  target
0   85       92    45    27       31    0.0       1
1   85       64    59    32       23    0.0       2
2   86       54    33    16       54    0.0       2
3   91       78    34    24       36    0.0       2
4   87       70    12    28       10    0.0       2

In [26]:
X=data.iloc[:,0:6]
X[:2]

   mcv  alkphos  sgpt  sgot  gammagt  drink
0   85       92    45    27       31    0.0
1   85       64    59    32       23    0.0

In [27]:
Y=data.target

In [28]:
Y[:6]

0    1
1    2
2    2
3    2
4    2
5    2
Name: target, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=0,test_size=0.2)

In [30]:
X_train.shape

(276, 6)

In [33]:
from sklearn.neighbors import KNeighborsClassifier

In [69]:
knn=KNeighborsClassifier(n_neighbors=3)

In [70]:
knn.fit(X_train,Y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=3, p=2,
           weights='uniform')

In [71]:
predict=knn.predict(X_test)

In [72]:
knn.score(X_train,Y_train)

0.7971014492753623

In [73]:
knn.score(X_test,Y_test)

0.7391304347826086

In [78]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [79]:
print(confusion_matrix(Y_test,predict))

[[21 12]
 [ 6 30]]

In [80]:
print(classification_report(Y_test,predict))

              precision    recall  f1-score   support

           1       0.78      0.64      0.70        33
           2       0.71      0.83      0.77        36

   micro avg       0.74      0.74      0.74        69
   macro avg       0.75      0.73      0.73        69
weighted avg       0.74      0.74      0.74        69

In [82]:
print(accuracy_score(Y_test,predict))

0.7391304347826086