In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import string

In [2]:
df=pd.DataFrame(["9:00 AM","10:00 AM","14:00 PM"],columns=["Time"])
df

       Time
0   9:00 AM
1  10:00 AM
2  14:00 PM

In [7]:
df["Time"]=df["Time"].str.replace("AM","")
df["Time"]=df["Time"].str.replace("PM","")
df["Time"]=df["Time"].str.replace(":","")
df["Time"]=df["Time"].astype(int)

In [12]:
bins=[400, 1000, 1600]
label=["morning" ,'afternoon']

In [13]:
df['Time']= pd.cut(df['Time'], bins=bins, labels=label)

In [14]:
df["Time"]

0      morning
1      morning
2    afternoon
Name: Time, dtype: category
Categories (2, object): [morning < afternoon]